html {
  font-size: 16px;
}
body {
  font-family: Courier;
  background-color: #333;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 65%;
  margin: 70px auto 0 auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border: 3px solid #00ccff;
  border-radius: 50%;
  margin-right: 30px;
}
.name {
  font-family: monospace;
  font-size: 2.5em;
  color: #00ccff;
  font-weight: bold;
  margin-bottom: 20px;
}
.title {
  font-size: 1.5em;
  color: #fff;
  background-color: #808080;
  font-weight: 500;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}
.bio {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}
.projects {
  margin-left: calc(2rem + 10px);
  margin-top: 80px;
}
.nav-wrapper {
  position: relative;
  margin-top: 10px;
}
.nav-container {
  margin-left: 2rem;
  margin-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-list li {
  flex: 0 0 auto;
}
.list-item {
  width: 300px;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  border: 4px solid #00ccff;
  box-sizing: border-box;
}
.nav-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.tooltip {
  position: fixed;      
  padding: 6px 8px;
  background-color: #808080;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 1em;
  z-index: 1000;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translate(-50%, -100%); 
}
.tooltip.visible {
  opacity: 1;
}
@media (max-width: 900px) {
  .wrapper {
    width: 90%;
    margin: 30px auto 30px auto;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .name {
    font-size: 2rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .bio {
    font-size: 1rem;
  }
  .nav-wrapper {
    width: 680px;
  }
}
@media (max-width: 680px) {
  .wrapper {
    width: 80%;
    margin: 30px auto 30px auto;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .name {
    font-size: 1.8rem;
  }
  .title {
    font-size: 1rem;
  }
  .bio {
    font-size: 0.9rem;
  }
  .projects {
    margin-top: 30px;
  }
  .nav-container {
    overflow: visible;
  }
  .nav-list {
    display: inline;
  }
  .nav-arrow {
    display: none;
  }
  .tooltip {
    display: none;
  }
}


